body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #2c1f3c url('assets/backGround.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #e0d9ff; /* tom roxo claro */
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

button {
  background-color: #6a4ba4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1em;
}

button:hover {
  background-color: #8e65d0;
}

#players {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.hand {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100px;
  height: 140px;
  border: 2px solid #fff;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
}
